<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="SyncretDB"
			 connectionString="Server=localhost,1433;Database=SyncretDB;User Id=sa;Password=ParolaTA_123!;TrustServerCertificate=True;Encrypt=False;Connect Timeout=5;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>